@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
}

:root {
  --color-primary: #3e82e2;
  --color-secondary: #cfe0f8;
  --color-selected: #82adeb;
  --color-background: #ffffff;
  --color-text: #212121;
  --color-light-grey: #d9d9d9;
}

.br8 {
  border-radius: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.max-w-512 {
  width: 100%;
  max-width: 512px;
}

main {
  width: 100%;
}

.home {
  width: 100%;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.start-btn {
  height: 28px;
  width: 72px;
  background-color: var(--color-primary);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.start-btn:hover {
  background-color: var(--color-selected);
}

.clear-btn {
  height: 28px;
  width: 72px;
  background-color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  border-radius: 4px;
  border: none;
  box-shadow: inset 0 0 0 1px var(--color-primary);
  cursor: pointer;
  transition: all ease 0.3s;
}

.start-clear-container {
  display: flex;
  gap: 8px;
}

.clear-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.delete-btn {
  background-color: var(--color-primary);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(./assets/icons/remove-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
  transition: all ease 0.3s;
}

.delete-btn:hover {
  background-color: var(--color-selected);
}

.close-btn {
  background-color: var(--color-light-grey);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(./assets/icons/remove-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  cursor: pointer;
  transition: all ease 0.3s;
}

.close-btn:hover {
  background-color: var(--color-selected);
}

.border-bottom {
  border-bottom: 1px solid var(--color-light-grey);
}

.dNone {
  display: none;
}

.dNone-500 {
  display: none;
}

.btn {
  width: 64px;
  height: 28px;
  border: none;
  outline: 1px solid var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: all ease 0.18s;
}

.btn:hover {
  color: var(--color-background);
  background-color: var(--color-selected);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}