* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    justify-content: center;
}

:root {
  --color-primary: #3e82e2;
  --color-secondary: #cfe0f8;
  --color-background: #ffffff;
  --color-text: #212121;
  --color-light-grey: #d9d9d9;
}

.br8 {
    border-radius: 8px;
}
