.converter-card {
  background-color: var(--color-background);
  border-radius: 8px;
  padding: 16px;
  border: 2px solid var(--color-light-grey);

  display: flex;
  flex-direction: column;
}

.converter-card > h2 {
  margin-bottom: 32px;
}

.currency-inputs {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.date-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 16px;
}
