.currency-input-container {
  height: 28px;
  width: fit-content;
  position: relative;
  display: flex;
  outline: 1px solid var(--color-primary);
  border-radius: 4px;
}

.currency-input {
  max-width: 142px;
  border: none;
  outline: none;
  margin: 0 8px;
  font-size: 16px;
  text-align: right;
}

.currency-label {
  position: absolute;
  font-size: 12px;
  top: -10px;
  left: 8px;
  color: var(--color-primary);
  font-weight: 700;
  background-color: var(--color-background);
  padding: 0 4px;
}

.currency-input::-webkit-outer-spin-button,
.currency-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency-button {
  height: 100%;
  width: 68px;
  font-size: 16px;
  color: var(--color-primary);
  font-weight: 700;
  outline: none;
  border: 0;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: 0.25s ease all;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currency-button:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.selector-arrow {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/icons/arrow-blue.svg);
}

.currency-button:hover > .selector-arrow {
  background-image: url(../assets/icons/arrow-white.svg);
}

.date-input-container > input {
  width: 124px;
  font-size: 16px;
  padding: 0 8px;
  border: none;
  outline: none;
}
