.favorites-button {
  height: 100%;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.favorites-input {
  max-width: 104px;
  border: none;
  outline: none;
  margin: 0 8px;
  font-size: 16px;
  text-align: right;
}

.favorites-selector-arrow {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/icons/arrow-grey.svg);
  cursor: pointer;
}
